<h1>Bail Reform at Berkeley</h1>
<div>
  <div class="container">
    <button type="button">Apply for Bail</button>
    <%= button_to "Donate", new_donation_path, method: :get %>
  </div>
  <%= image_tag("HomepageImage.png",  :size => "1200x200", :alt => "bailreform") %>
</div>
