<div class="navigationBar">
  <% @nav_links.each do |name, link| %>
    <%= link_to name, link, method: :get %>
  <% end %>
</div>
<h1>Bail Reform at Berkeley</h1>
<div class="DonateAndApplyContainer">
  <%= button_to "Apply for Bail", new_apply_path, method: :get %>
  <%= button_to "Donate", new_donation_path, method: :get %>
</div>
<%= image_tag("HomePageBailReformLogo.png",  :size => "300x200", :alt => "homepage logo") %>
