Have info about applying for bail.

<%= form_tag({controller: "apply", action: "apply_bail"}, :id => 'apply_form', :class => 'BailApplicationForm') do -%>
  <fieldset><legend>Bail Application</legend>
    <label for="first_name">
      <span>First Name<span class="required">*</span></span><input type="text" class="input-field" name="first_name" value="" /></label>
    <label for="first_name"><span>Last Name<span class="required">*</span></span><input type="text" class="input-field" name="last_name" value="" /></label>
    <label><span> </span><input type="submit" value="Apply for Bail" /></label>
  </fieldset>
<% end -%>

