body {
	font-family: "Helvetica";
	font-weight: normal;
	color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: medium;
	font-family: "Harriet";
	font-style: italic;
	color: #000000;
}

p {
	font-family: 'Helvetica';
	font-weight: normal;
	color: #000000;
}

.bg-yellow {
	background-color: #ffcc00!important;
}
