<div class="m-5">
  <p>Thomas Brown</p>
  <h2 class="text-center">Bail Bond Reform</h2>
  <h5>Our bail bond system capitalizes on innocence.</h5>
  <p>
    Are you prepared for the circumstances that await in the criminal justice system of the United States should you be arrested and needed to be bailed out? This question exists as the result of a criminal justice system that presents an unjust burden of paying for your temporary freedom until a trial. What this current process ignores are the implications of your absence from everyday life that could include losing your job or custody of your children.
  </p>

  <h5>The injustice of the justice system </h5>
  <p>
    The United States has established a bail bond system that does not serve in the in the interests of all Americans. The rich do not face the same legal system as the poor as they are more likely to be able to afford bail and a defense attorney. The Americans without enough savings to afford the cost of bail should not be forced to lose their established lives. It is suggested that <a href="https://www.prisonpolicy.org/blog/2018/08/15/pretrial/" class="blueFont">465,000 people</a> are currently being held in local jails even though they have not been convicted. As they are presumed innocent this suggests that families are being wrongfully separated. Should a parent also not be able to afford an attorney then they are assigned a public defender who suggest a plea deal as <a href="https://thelawdictionary.org/article/what-percentage-of-lawsuits-settle-before-trial-what-are-some-statistics-on-personal-injury-settlements/" class="blueFont">95%</a> of lawsuits end in a pre-trial settlement. This suggests that families are painfully split apart based on the inability to afford legal defense. As people of color are predominantly affected by mass incarceration and are often targeted in policing these statistics play an unsettling significance in their lives.
  </p>
  <p>
    The justice system of the United States has previously established eras of discrimination and mistreatment of people of color under the law. As of 2014 African Americans constituted <a href="https://www.naacp.org/criminal-justice-fact-sheet/" class="blueFont">2.3 million of the 6.8 million</a> correctional population as a result of these prejudiced practices. In the context of bail bonds, African Americans disproportionately suffer from the frequent occurrence of being charged with crimes and the inability to afford the price of bail. The current pretrial system stands to not support African Americans as they are <a href="https://www.princeton.edu/~wdobbie/files/racialbias.pdf" class="blueFont">3.6 percentage points</a> more likely to be assigned monetary bail, and receive bail amounts that are <a href="https://www.princeton.edu/~wdobbie/files/racialbias.pdf" class="blueFont">$9,923 greater</a>. As executive director of Color Of Change <a href="https://colorofchange.org/about/our-team/" class="blueFont">Rashad Robinson</a> said to the <a href="https://www.aclu.org/news/profit-bail-bonds-industry-and-insurance-corporations-trap-people-cycle-debt" class="blueFont">American Civil Liberties Union</a>, “big insurance is raking in huge profits by putting a price on people’s freedom. Like payday loans, bail bonds are predatory practice that traps Black families and poor people in debt.” These established inequalities do not serve to perpetuate a fair justice system for all members of society within the United States, therefore it is clear that reform is necessary.
  </p>
  <p>
    New York has begun the process of discussing bail bond reform with Gov. Andrew Cuomo proposing removing cash bail for misdemeanors and non-violent felonies. While Gov. Jerry Brown of California removed cash bail, replacing the system with local courts deciding who to keep in custody and whom to release while they await trial. The catch? Freedom is determined based on an algorithm created by the courts in each jurisdiction. This new system lacks the necessary precautions to guarantee that racial justice is assured. And who bears the cost? This law places the burden of funding all pretrial release programs and the detentions of people who would otherwise post bail on the taxpayer.
  </p>

  <h5>We the people deserve reform.</h5>
  <p>
    Bail bonds signify an antiquated system of criminal justice that consists racism and inequity. All Americans deserve fair and equal treatment under the law, which includes in the pretrial system. The reform efforts at the state level has ignited a national discussion for the need of the removing bail bonds and has produced notable efforts. However true equality under the law will be served when all parties are not burdened with the cost of assumed innocence. Justice cannot be universally served in a system that allows for an algorithm to apply implicitly racist attitudes established under the existing law.
  </p>
  <p>
    As the new California reform method involves a prediction system based on age and previous criminal record there are inherent prejudices in this new system. As the criminal justice system is currently understood to inequitably treat people of color, this new reform only perpetuates these practices. The current tools of risk assessment do not take into account the racial inequities of the past and therefore should be approached cautiously by judges. And until further predictive tools have been created to address these concerns they cannot ultimately ensure justice.
  </p>
</div>
