<h1>Meet the team</h1>
<div class="bio">
  <h2 href="https://www.linkedin.com/in/tadtobar/">Tad Tobar</h2>
  Founder & Co-President
  <div class="bio-text">
    Tad is a senior at the Haas School of Business, interested in entrepreneurship and how society 
can leverage technology and capital markets to solve complex problems. In his spare time, he loves 
to learn about new technology, study finance, and collaborate with others on new projects.
  </div>
</div>
<div class="bio">
  <h2 href="https://www.linkedin.com/in/patrick-mariolle-80ab0813b/">Patrick Mariolle</h2>
  Co-President
  <div class="bio-text">
    Patrick is an Oakland native finishing his senior year at the Haas School of Business. Social 
Justice is at the core of what motivates him and inspires the change he seeks to make in the 
society. Political activism and volunteer work are a part of his daily life, but he is excited to 
leverage his education at Haas to create new solutions for systematic problems.
  </div>
</div>
<div class="bio">
	<h2 href="https://www.linkedin.com/in/thomasjfbrown/">Thomas Brown</h2>
  External Vice President
  <div class="bio-text">
    Thomas is a student of the College of Letters and Science studying Political Science with a 
focus in International Relations and History with a focus in Middle Eastern History, and at the 
Goldman School of Public Policy he is earning a minor. His interests include civil rights, current 
events, and political advocacy. In his spare time he enjoys local community organizing and service.
  </div>
</div>
<div class="bio">
  <h2 href = >JP Pantin</h2>
  Internal Vice President
  <div class="bio-text">
    JP is a senior at the Haas School of Business. This past summer he interned at JP Morgan 
working with Endowments & Foundations to maximize portfolio returns and will return to the bank 
start his full-time career. JP is interested in finance, entrepreneurship, and social impact 
projects. He hopes to one day found both his own company and foundation.  </div>
</div>
<div class="bio">
  <h2>Zhen Teo</h2>
  Vice President of Fundraising
  <div class="bio-text">
    Zhen is an outgoing and ambitious individual who strives to collaborate with genuine people.
 Having been a national distance swimmer for most of his teenage years, he has acquired a certain 
level of mental toughness that will continue to serve him well in the coming years. He worked in 
UBS as a Summer Analyst in the Investment Banking Division and will be joining the Boston Consulting
 Group as an Associate Consultant after graduation. He has a deep interest in discovering innovative
 ways to solve real-life problems.
  </div>
</div>
<div class="bio">
  <h2 href="https://www.linkedin.com/in/gresshaa">Gresshaa Mehta</h2>
  Vice President of Design
  <div class="bio-text">
    G is a first-generation college student from India, passionate about creating unique experiences
 for users using the power of storytelling. She believes in using her platform and education to give
 back to society in any way possible - her ultimate goal is to solve the world's "wicked" problems
 using empathic human-centered design and stand up for those who can't stand up for themselves.
  </div>
</div>

<%= link_to "Back to Home", root_path, method: :get %>
<%= link_to "Get in Touch", contact_path, method: :get %>
